# Database connection string
DATABASE_URI=postgres://postgres:<password>@127.0.0.1:5432/bru-landing
# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/payload-template-website
# Used to encrypt JWT tokens
PAYLOAD_SECRET=017e66cb83250ab319b26bb5
# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000